
.contFormSec {
    border: 1px solid black;

    margin: 1rem;
}

.contFormSec input {
    border-radius: 0.5rem;
    width: 100%;
}




.contLinks a{
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) 2fr; 
    grid-template-rows: 1;
    align-items: center;
}

.contLinkTitle {
    width: fit-content;
}

.contLinks img{
    width: 2rem;
    height: 2rem;
}

img[src=""] {
    width: 4rem;
}